h1 {
  color: brown;
  font-style: italic;
}
p,
code {
  color: blue;
  font: optional;
  font-family: Arial, Helvetica, sans-serif;
}
td {
  color: yellowgreen;
  font-family: "Times New Roman", Times, serif;
}
th {
  color: purple;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: inherit;
}
